*{
    padding: 0;
    margin: 0;
    background-color: white;
    color: black;
    font-family: "Helvetica Neue", serif;
}


.top-nav {
    background-color: white;
    overflow: hidden;
    font-family: "Helvetica Neue", serif;
    position: fixed;
}

/* Style the links inside the navigation bar */
.top-nav a {
    font-size: 15px;
    letter-spacing:     0.16px;
    text-transform: uppercase;
    word-spacing: 0;
    color: black;
    display: inline-block;
    text-align: center;
    position: sticky;
    top: 0;
    float: left;
    padding: 14px 16px;
    text-decoration: none;

}



/* Change the color of links on hover */
.top-nav a:hover {
    background-color: darkgray;
    color: black;
    position: sticky;
}
.top-nav{
    display: flex;
}
.header_right{
    margin-right: 1312px;
}

/* Add a color to the active/current link */
.top-bar-not-name{
    background-color: white;
    left: 150px;

}
.top-nav a.active{
    background-color: white;
    color: black;
    position: sticky;
}