* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Helvetica Neue", sans-serif;
}

body {
    font-family: "Helvetica Neue", sans-serif;
}

.contact-container {
    font-family: "Helvetica Neue", sans-serif;

    margin-top: 80px;
    padding: 40px;
    text-align: center;
}
.social-links {
    font-family: "Helvetica Neue", sans-serif;

    margin-top: 20px;
}
.social-links:hover{
    text-underline: blue;
}

p {
    margin-bottom: 15px;
}



